<div class="bg-primary text-white py-96 px-120">
  <div class="container">
    <div class="row">
      <!-- isi footer -->
      <div class="col-12 col-md-4">
        <img src="./asset/logosmp.png" width="60" class="mb-3" />
        <div class="d-none d-md-block col-md-1"></div>
        <p class="small">
          Jl. Wedi Wonosari, Dusun I, Pasung<br />
          Kec. Wedi, Kabupaten Klaten,<br />
          Jawa Tengah 57461
        </p>

        <p class="small">@smpn2wedi.sch.id</p>
      </div>
      <div class="col-12 col-md-3">
        <h6 class="mb-3">Tentang Sekolah</h6>
        <ul class="list-unstyled small">
          <li>Visi Misi</li>
          <li>Sejarah</li>
          <li>Struktur Organisasi</li>
          <li>Fasilitas</li>
        </ul>
      </div>
      <div class="col-12 col-md-3">
        <h6 class="mb-3">Halaman Umum</h6>
        <ul class="list-unstyled small">
          <li>Data Guru</li>
          <li>PPDB SMP N 2 Wedi</li>
          <li>Panduan PPDB</li>
          <li>Lokasi</li>
          <li>Kontak</li>
        </ul>
      </div>
      <div class="col-12 col-md-2 text-md-end">
        <h6 class="mb-3">Media Sosial</h6>

        <div class="d-flex gap-2 justify-content-md-end">
          <div class="border rounded p-2">
            <i class="bi bi-twitter"></i>
          </div>
          <div class="border rounded p-2">
            <i class="bi bi-youtube"></i>
          </div>
          <div class="border rounded p-2">
            <i class="bi bi-instagram"></i>
          </div>
        </div>
      </div>
    </div>
    <hr class="border-light my-4" />
    <p style="font-size: 12px !important">
      Copyright © SMP Negeri 2 Wedi. All rights reserved.
    </p>
  </div>
</div>
